extends layout

block head
    script(src='/scripts/converter.js')
    script(src='/scripts/FileSaver.js')
    style.
        body {
            background-color: #222;
            color: #ddd;
        }
        #canvas {
            display: none;
        }


block content
    title Particle Converter

    p Enjoy waiting
    img#pic(src='/pics/earth-half.png')
    canvas#canvas No canvas support