extends layout

block head
    link(rel='stylesheet', href='/styles/style.css')
    script(src='/scripts/jquery-3.3.1.min.js')
    script( src='/scripts/shapefile.js' )

block content
    pre#data
    script( src='/scripts/shapeloader.js' )